/* ActionPanel.module.scss */
@use '../../styles/variables' as *;

.action {
  background: $color-bg;
}

.hpBar {
  flex: 1;
  height: 50px;   // original size
  border: 1px solid $color-primary;
  position: relative;
  overflow: hidden;
}
.filled {
  background: $color-primary;
  height: 100%;
  transition: width .3s ease;
}
