@import url('https://fonts.googleapis.com/css2?family=Blaka&display=swap');

html, body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: black;
  color: white;
}
* {
  box-sizing: border-box;
  font-family: "Blaka";
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.1em;
}

img {
  max-width: 100%;
  max-height: 100%;
}

h1 {
  color: #fee100;
  font-size: 36px;
}
h2 {
  font-size: 18px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}

.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}